<a href="https://colab.research.google.com/github/Teriekarie/SGA_DSCI_2/blob/main/Nigerian_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/STUTERN 1.3 ASSIGNMENT/INTERMEDIATE/Module_6/Nigerian_Car_Prices.csv')
df.head()

,Unnamed: 0,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
0,0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000",NaN
1,1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000",NaN
2,2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000",NaN
3,3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000",NaN
4,4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000",NaN

This shows that there are some categorical variables and some numeric variables, we can also see that we have this column Unnamed: 0 that will probably not be used, as well as some null values

#Cleaning the dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           4095 non-null   int64
 1   Make                 4095 non-null   object
 2   Year of manufacture  3617 non-null   float64
 3   Condition            3616 non-null   object
 4   Mileage              4024 non-null   float64
 5   Engine Size          3584 non-null   float64
 6   Fuel                 3607 non-null   object
 7   Transmission         4075 non-null   object
 8   Price                4095 non-null   object
 9   Build                1127 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 320.0+ KB

In [ ]:
df.describe()

        Unnamed: 0  Year of manufacture       Mileage    Engine Size
count  4095.000000          3617.000000  4.024000e+03    3584.000000
mean   2047.000000          2007.898535  1.825337e+05    3274.976562
std    1182.269005             4.300126  2.109233e+05    7693.489588
min       0.000000          1992.000000  1.000000e+00       3.000000
25%    1023.500000          2005.000000  1.020640e+05    2000.000000
50%    2047.000000          2008.000000  1.613525e+05    2500.000000
75%    3070.500000          2011.000000  2.319522e+05    3500.000000
max    4094.000000          2021.000000  9.976050e+06  371000.000000

In [ ]:
df.dtypes

Unnamed: 0               int64
Make                    object
Year of manufacture    float64
Condition               object
Mileage                float64
Engine Size            float64
Fuel                    object
Transmission            object
Price                   object
Build                   object
dtype: object

In [ ]:
#checking for null values

df.isnull().sum()

Unnamed: 0                0
Make                      0
Year of manufacture     478
Condition               479
Mileage                  71
Engine Size             511
Fuel                    488
Transmission             20
Price                     0
Build                  2968
dtype: int64

We can see that Build vaariabke has the most missing values and since it is not so essential in this project, it will be dropped

In [ ]:
df = df.drop('Build', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
#changing the format of the price to float for easy use
df['Price'].replace(to_replace=',', value='', regex=True, inplace=True)
df["Price"] = df["Price"].astype("float64")

df['Year of manufacture'] = df['Year of manufacture'].astype('int64')

cleaning the null values and filling them with their mean, mode and median respectively

In [ ]:
df['Mileage']=df['Mileage'].fillna(df['Mileage'].mean())

df = df[df['Year of manufacture'].notnull()]

df['Condition']=df['Condition'].fillna(df['Condition'].mode()[0])

df['Engine Size']=df['Engine Size'].fillna(df['Engine Size'].median())

df['Fuel']=df['Fuel'].fillna(df['Fuel'].mode()[0])

df['Transmission']=df['Transmission'].fillna(df['Transmission'].mode()[0])

In [ ]:
df.isnull().sum()

Unnamed: 0             0
Make                   0
Year of manufacture    0
Condition              0
Mileage                0
Engine Size            0
Fuel                   0
Transmission           0
Price                  0
dtype: int64

In [ ]:
df = df.drop('Unnamed: 0', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
df.dtypes

Make                    object
Year of manufacture      int64
Condition               object
Mileage                float64
Engine Size            float64
Fuel                    object
Transmission            object
Price                  float64
dtype: object

In [ ]:
df.head()

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007,Nigerian Used,166418.0,2400.0,Petrol,Automatic,3120000.0
2,Mercedes-Benz,2008,Nigerian Used,376807.0,3000.0,Petrol,Automatic,3640000.0
30,Lexus,2008,Foreign Used,301265.0,3500.0,Petrol,Automatic,4680000.0
32,Lexus,2011,Nigerian Used,105546.0,4600.0,Petrol,Automatic,14040000.0
43,Lexus,2011,Foreign Used,211917.0,3500.0,Petrol,Automatic,6968000.0

What is the most expensive Automatic car (show car name and model make) with a mileage of less than 50000

In [ ]:
# max Price for each car showing the model
df.groupby(['Make', 'Year of manufacture', 'Mileage'])['Price', 'Transmission'].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                             Price Transmission
Make  Year of manufacture Mileage
Acura 2001                182533.655567  1687500.0    Automatic
      2002                200741.000000  1260000.0    Automatic
                          236451.000000  1462500.0    Automatic
      2003                1.000000        735000.0    Automatic
      2004                163082.000000  1560000.0    Automatic
...                                            ...          ...
Volvo 2007                258928.000000  2835000.0    Automatic
      2008                12074.000000   3432000.0    Automatic
                          121034.000000  2835000.0    Automatic
                          163549.000000  2835000.0    Automatic
                          176452.000000  2600000.0    Automatic

[2829 rows x 2 columns]

Write a function to bring out the average of each car, which car make has the highest average price?

In [ ]:
df['make_average'] = df.groupby(['Make'])['Price'].transform('mean')

In [ ]:
def group_make(value):
    if value > 9000000:
        return 0
    elif value > 5000000 and value < 9000000:
        return 1
    elif value > 3000000 and value < 5000000:
        return 2
    elif value > 1600000 and value < 3000000:
        return 3
    else:
        return 4

In [ ]:
df['make_group'] = df.apply(lambda x: group_make(x['make_average']),axis=1)
df['make_group']

0       2
2       1
30      1
32      1
43      1
       ..
4090    3
4091    2
4092    3
4093    2
4094    2
Name: make_group, Length: 3617, dtype: int64

Select the row with a price at the 76th percentile score

In [ ]:
# create a new column of percentile rank
df['Percentile Rank'] = df.Price.rank(pct = True)
  
# displaying the percentile rank
display(df)

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,make_average,make_group,Percentile Rank
0,Toyota,2007,Nigerian Used,166418.0,2400.0,Petrol,Automatic,3120000.0,3.965571e+06,2,0.545203
2,Mercedes-Benz,2008,Nigerian Used,376807.0,3000.0,Petrol,Automatic,3640000.0,6.193198e+06,1,0.641830
30,Lexus,2008,Foreign Used,301265.0,3500.0,Petrol,Automatic,4680000.0,5.013312e+06,1,0.765828
32,Lexus,2011,Nigerian Used,105546.0,4600.0,Petrol,Automatic,14040000.0,5.013312e+06,1,0.968482
43,Lexus,2011,Foreign Used,211917.0,3500.0,Petrol,Automatic,6968000.0,5.013312e+06,1,0.891346
...,...,...,...,...,...,...,...,...,...,...,...
4090,Honda,2004,Nigerian Used,207446.0,3500.0,Petrol,Automatic,1125000.0,2.397785e+06,3,0.066630
4091,Toyota,2005,Nigerian Used,106914.0,1800.0,Petrol,Automatic,2643750.0,3.965571e+06,2,0.465579
4092,Honda,2006,Nigerian Used,247149.0,1800.0,Petrol,Automatic,1462500.0,2.397785e+06,3,0.136854
4093,Toyota,2007,Nigerian Used,249325.0,2500.0,Petrol,Automatic,2475000.0,3.965571e+06,2,0.395217
4094,Toyota,2013,Foreign Used,235184.0,2500.0,Petrol,Automatic,6300000.0,3.965571e+06,2,0.868399

In [ ]:
df['Price'].quantile(.76)

4620000.0

In [ ]:
df[['Engine Size', 'Price']].quantile(.76)

Engine Size       3500.0
Price          4620000.0
Name: 0.76, dtype: float64